<h1>HBS Rendered File!</h1>

Your message is: {{msg}} 
Your message2 is: {{msg2}} 

{{{html}}}

{{!-- each, if --}}
{{#each countries}}
    {{#if this.western}}
        <li>{{this.name}} - {{this.capital}}</li>
    {{/if}}
{{/each}}