doctype html
html
    head
        title This is PUG
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        link( rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css",
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We", crossorigin="anonymous")
    body
        h1 PUG Rendered File!
        div
            p A message! 
            p Another message
        .container 
            .row 
                .col-sm-3 #{msg}
                .col-sm-3 Your message is ... #{msg}
                .col-sm-6 Your message is ... #{msg2}
                .col-sm-12 !{html}
            .row 
                ul.col-sm-12 
                    each country in countries
                        li= country.name + ` -- ` + country.capital
                        if country.western 
                            div.western This country is in the western hemisphere 
            div Message of the day: 2 + 2 = #{2+2}